<template>
  <q-page class="q-ma-md page">
    <q-table
      title="Data"
      :rows="rows"
      :columns="columns"
      row-key="id"
    >
      <template #body="props">
        <q-tr :props="props">
          <q-td>
            <q-btn
              flat
              round
              v-if="props.row.squard"
              :icon="props.expand ? 'remove' : 'add'"
              @click="props.expand = !props.expand"
            />
          </q-td>
          <q-td key="name" :props="props">
            {{ props.row.name }}
          </q-td>
          <q-td key="age" :props="props">
            {{ props.row.age }}
          </q-td>
          <q-td key="hobbies" :props="props">
            {{ props.row.hobbies }}
          </q-td>
        </q-tr>
        <ExpandRow
          v-for="child in props.row.squard"
          :key="child.id"
          :child="child"
          :props="props"
        />
      </template>
    </q-table>
  </q-page>
</template>

<script>
import {
  defineComponent,
  computed,
} from 'vue';
import { useStore } from 'vuex';
import ExpandRow from '../components/ExpandRow.vue';

export default defineComponent({
  name: 'PageIndex',
  components: {
    ExpandRow,
  },
  setup() {
    const store = useStore();
    const rows = computed(() => store.getters['data/alldata']);
    store.dispatch('data/fetch');

    const columns = [
      {
        name: 'expand',
        label: 'Expand',
        align: 'left',
        field: 'expand',
      },
      {
        name: 'name',
        required: true,
        label: 'Name',
        align: 'left',
        sortable: true,
        field: 'name',
      },
      {
        name: 'age',
        required: true,
        label: 'Age',
        align: 'center',
        sortable: true,
        field: 'age',
      },
      {
        name: 'hobbies',
        required: true,
        label: 'Hobbies',
        align: 'left',
        sortable: true,
        field: 'hobbies',
      },
    ];

    return {
      columns,
      rows,
    };
  },
});
</script>

<style lang="scss" scoped>
.page {
  min-height: 90vh !important;
}
</style>
