<template>
  <q-tr v-show="props.expand" class="child-row">
    <q-td>
      <q-btn
        flat
        round
        v-if="child.squard"
        :icon="props.expand ? 'remove' : 'add'"
      />
    </q-td>
    <q-td key="name" :props="props">
      {{ child.name }}
    </q-td>
    <q-td key="age" :props="props">
      {{ child.age }}
    </q-td>
    <q-td key="hobbies" :props="props">
      {{ child.hobbies }}
    </q-td>
  </q-tr>
  <ExpandRow
    v-for="child1 in child.squard"
    :key="child1.id"
    :child="child1"
    :props="props"
  />
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'ExpandRow',
  props: {
    child: {
      type: Object,
      required: true,
    },
    props: {
      type: Object,
      required: true,
    },
  },
});
</script>

<style lang="scss" scoped>
.child-row {
  background-color: rgba(0,0,0,.1);
}
</style>
